* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: ##f9fafc;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #E8F6EF;
}

.navbar_brand {
  width: 100px;
}

.navbar_logo {
  width: 100%;
}

.nav_button {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 50%,
    #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}

.nav_button:hover {
  border: 2px solid #F266AB;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar{
    justify-content: space-between;
    padding: 10px 20px;
  }
}

@media (min-width: 1024px) {
  .navbar_brand {
    width: 150px;
  }
  .navbar_button {
    padding: 20px;
    font-size: 50px;
  }

}
